<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <!--
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        -->
        <title><%= @title %></title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1 class="header_title">todo test</h1>
            </header>
            <div class="contents">
                <%= yield %>
            </div>
        </div>
    </body>
</html>