<div class="add__content">
    <form  action="/todo" method="POST" class="add__form">
        <fieldset>
            <div class="form__item">
                <label for="todo__title">Title</label>
                <input type="text" name="todotitle" placeholder="">
            </div>
            <div class="form__item">
                <label for="todo__content">Content</label>
                <textarea placeholder="" name="todocontent">
                </textarea>
            </div>
        </fieldset>
        <input class="add__button button__decorate" type="submit" value="Save">
    </form>
</div>

