<div class="add_content">
    <form  action="/todo" method="POST">
        <label for="titleField">Title</label>
        <input type="text" name="todotitle" placeholder="">
        <label for="contentField">Content</label>
        <textarea placeholder="" name="todocontent">
        </textarea>
    <input class="add__button" type="submit" value="Save">
    </form>
</div>

