<!-- 一覧、追加と詳細ができる -->
<div class="top">
    <div class="todo__list">
        <ul class="todo__items">
            <% @todos.each do |k, todo| %>
                <li class="todo__item"><a href="/todo/items/<%= k %>"><%= todo["title"] + " : " + todo["content"] %></a></li>
            <% end %>
        </ul>
    </div>
    <div class="">
        <a href="/todo/new" class="button__default">追加</a>
        <%= @reqdata %> <!-- デバッグ表示用 -->
    </div>
</div>